<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>${PRODUCT_NAME}</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>URL Setup:</string>
			<key>FooterText</key>
			<string>Before the app can function properly, the above three items need to be configured.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Base URL</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Key</key>
			<string>textBaseURL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Submit URL</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Key</key>
			<string>textSubmitURL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Station ID</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Key</key>
			<string>textStationID</string>
		</dict>
	</array>
</dict>
</plist>
